<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Paola - 223726</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <h3>Calculadora - Grámatica de libre contexto</h3>
        </nav>
    </header>
    <div class="centro">
        <div class="calculator">
            <input type="text" id="display" disabled>
            <div class="buttons">
                <button class="operator" id="paren1" onclick="addToExpression('(')"> ( </button>
                <button class="operator" id="paren1" onclick="addToExpression(')')"> ) </button>
                <button class="operator" id="borrar" onclick="clearDisplay()"> C </button>
                <button class="operator" id="paren1" onclick="addToExpression('/')"> / </button>
    
                <button onclick="addToExpression('7')"> 7 </button>
                <button onclick="addToExpression('8')"> 8 </button>
                <button onclick="addToExpression('9')"> 9 </button>
                <button class="operator" id="paren1" onclick="addToExpression('*')"> * </button>
    
                <button onclick="addToExpression('4')"> 4 </button>
                <button onclick="addToExpression('5')"> 5 </button>
                <button onclick="addToExpression('6')"> 6 </button>
                <button class="operator" id="paren1" onclick="addToExpression('-')"> - </button>
    
                <button onclick="addToExpression('1')"> 1 </button>
                <button onclick="addToExpression('2')"> 2 </button>
                <button onclick="addToExpression('3')"> 3 </button>
                <button class="operator" id="paren1" onclick="addToExpression('+')"> + </button>
    
                <button onclick="addToExpression('0')"> 0 </button>
                <button onclick="addToExpression('.')"> . </button>
                <button onclick="calculate()" class="equals"> = </button>
                <button class="operator" id="arbol" onclick="showTree()"> Tree </button>
            </div>
        </div>
        <div class="tree-display">
            <h2>Árbol:</h2>
            <div id="tree"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
