<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora con GLC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <h3>Calculadora - Grámatica de libre contexto</h3>
        </nav>
    </header>
    <div class="centro">
        <div class="calculator">
            <input type="text" id="display" disabled>
            <div class="buttons">
                <button onclick="addToExpression('(')" id="paren1"> ( </button>
                <button onclick="addToExpression(')')" id="paren1"> ) </button>
                <button onclick="clearDisplay()" id="borrar"> C </button>
                <button onclick="addToExpression('/')" class="buttonOperator"> / </button>
            
                <button onclick="addToExpression('7')"> 7 </button>
                <button onclick="addToExpression('8')"> 8 </button>
                <button onclick="addToExpression('9')"> 9 </button>
                <button onclick="addToExpression('*')" class="buttonOperator"> * </button>
            
                <button onclick="addToExpression('4')"> 4 </button>
                <button onclick="addToExpression('5')"> 5 </button>
                <button onclick="addToExpression('6')"> 6 </button>
                <button onclick="addToExpression('-')" class="buttonOperator"> - </button>
            
                <button onclick="addToExpression('1')"> 1 </button>
                <button onclick="addToExpression('2')"> 2 </button>
                <button onclick="addToExpression('3')"> 3 </button>
                <button onclick="addToExpression('+')" class="buttonOperator"> + </button>
            
                <button onclick="addToExpression('0')"> 0 </button>
                <button onclick="addToExpression('.')"> . </button>
                <button onclick="calculate()" class="equals"> = </button>
                <button onclick="saveResult()" id="guardar"> Guardar </button>
            </div>            
        </div>
        <div class="tree-display">
            <h2>Árbol:</h2>
            <svg id="tree" width="500" height="350"></svg>
        </div>
        <div class="results">
            <h2>Desglose de Tokens</h2>
            <table id="tokens-table" border="1">
            </table>
        
            <h2>Resumen de Tokens</h2>
            <table id="summary-table" border="1">
            </table>
        </div>
        
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>